<div class="message-wrapper">
  <div class="message <%= message.user == Current.user ? "my-message" : "other-message" -%>">
    <div class="message-content">
      <% t, c = split_think_value message.content %>
      <p><%= c -%></p>
    </div>
    <div class="message-timestamp">
      <%= message.created_at.strftime("%H:%M") %>
    </div>
  </div>
</div>
