<h1>Chat room</h1>

<div id="messages">
  <%= render @messages %>
</div>

<form>
  <div class="form-header">
    <label>Say something:</label>
    <button type="button" id="clean-message">Clean Message</button>
  </div>
  <input type="text" data-behavior="room_speaker">
</form>