<h1>Chat with <%= RubyLLM.config.default_model -%></h1>

<div id="messages">
  <%= render @messages %>
</div>

<form>
  <div class="form-header">
    <label>Say something:</label>
    <%= link_to "Clean Message", chat_path(id: 1), method: :delete, id: "clean-message" %>
  </div>
  <input type="text" data-behavior="room_speaker">
</form>
